/** override default Kickstart font colour for error messages **/
.notice.error {
  color: black;
}

#datatable {

}

/* should probably be setting/unsetting the blue/gray class but hey ho */
a:hover span.icon {
  color: #3EBDFF;
}