#{extends 'main.html' /}
#{set title:'Home' /}

<h1>Go Creator</h1>

#{ifErrors}
    <p class="error">All fields are required!</p>
#{/ifErrors}

#{form @create()}
<p><input name="alias.tiny"><br>
<input name="alias.target"><br>
<input type="submit" value="Create redirect"></p>
#{/form}

#{if aliases.size() > 0}
<h3>Existing aliases</h3>
<ul>    
    #{list items:aliases, as:'alias'}
        <li>${alias.tiny} - <a href="@{Application.go(alias.tiny)}">${alias.target}</a></li>
    #{/list}
</ul>
#{/if}