#{extends 'main.html' /}
#{set title:'Home' /}

<div class="col_12">

<div class="col_9">

<a href="${play.configuration['application.url']}"><span class="icon-angle-left"></span> Go home</a>

<h1>Stats for ${alias.tiny}</h1>

<ul>
  <li><a href="http://yourls.org/images/stats-anim.gif">http://yourls.org/images/stats-anim.gif</a>
  <li>referrer by domain, pie chart
  <li>location by country, pie chart
</ul>

<ul class="tabs left">
  <li><a href="#tab1">Recent visits</a></li>
  <li><a href="#tab2">Referrers</a></li>
  <li><a href="#tab3">Visits by country</a></li>
</ul>

<div id="tab1" class="tab-content">
  <div id="visitsContainer" style="min-width: 400px; height: 400px; margin: 0 auto"></div>

  <table id="datatable">
    <thead>
    <tr>
      <th>Date</th>
      <th>Number of clicks</th>
    </tr>
    </thead>
    <tbody>
  #{if dateclicks.size() > 0}
    #{list items:dateclicks, as:'dateclick'}
      <tr>
        <th>${dateclick.key.format("dd/MM/yyyy")}</th>
        <td>${dateclick.value}</td>
      </tr>
    #{/list}
  #{/if}
    </tbody>
  </table>

</div><!-- tab1 -->

<div id="tab2" class="tab-content">
  <div id="referrerContainer" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
</div><!-- tab2 -->

</div><!-- col_9 -->

<div class="col_3">
  <h6>Metadata</h6>
  <ul class="alt">
    <li>Created by: <strong><a href="/user/${alias.creatorUsername}">${alias.creatorUsername}</a></strong></li>
    <li>Created: <strong>${alias.created.since()} (${alias.created.format("dd MMMM yyyy")})</strong></li>
    <li>Destination: <strong><a href="@{Application.go(alias.tiny)}">${alias.target}</a></strong></li>
    <li>Total number of visits: <strong>${totalVisits}</strong></li>
  </ul>
  <p><img id="qr" src="@{Application.qr(alias.tiny)}" width="100%"></p>


</div> <!-- col_3 -->

</div> <!-- col_12 -->